<p class="pull-right"><a href="/" class="btn btn-danger">Sign out</a></p>
<p class="lead">Welcome, <strong>{{user.name}}</strong>.</p>

{{#if justUploaded}}
<div class="alert alert-success">
  <strong>Success!</strong> Your paper was successfully uploaded.
</div>
{{/if}}

{{#if justConfirmed}}
<div class="alert alert-success">
  <strong>Success!</strong> Your submission is now confirmed.
</div>
{{/if}}

{{#if noFile}}
<div class="alert alert-danger">
  <strong>Error!</strong> The upload process failed &ndash; please try again.
</div>
{{/if}}

{{#if invalid}}
<div class="alert alert-danger">
  <strong>Error!</strong> The document you uploaded did not meet our requirements.
</div>
{{/if}}

{{#if incomplete}}
<div class="alert alert-danger">
  <strong>Error!</strong> Please confirm that your paper not been published and will not be published in other publications. 
</div>
{{/if}}

{{#if confirmed}}
<div class="alert alert-danger">
  <strong>Error!</strong> You have already confirmed your submission &ndash; you may not upload new versions.
</div>
{{/if}}

{{#if alreadyConfirmed}}
<h3>Submission confirmed</h3>
<p>You have already confirmed your submission, and you may not upload new versions.</p>
<p><a class="btn btn-default" href="/review">View submission</a></p>

{{else}}

{{#if overdue}}

<h3>No more submissions allowed</h3>
<p>Unfortunately, the deadline for submissions has elapsed. As such, we are unable to accept your submission.</p>

{{else}}

{{#if alreadyUploaded}}
<h3>Confirm submission</h3>
<p>You have previously uploaded a submission. Verify the correctness of your submission below and click <strong>Confirm submission</strong> to confirm. After confirming, you may not upload new versions.</p>

<form class="form-horizontal" role="form" method="POST" action="/confirm">
  <div class="form-group">
    <label class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{user.name}} ({{user.email}})</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{user.paperTitle}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Last submission</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{lastSubmission}} (<a href="/review">View submission</a>)</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <button type="submit" class="btn btn-success">Confirm submission</button>
    </div>
  </div>
</form>


{{/if}}

<p><a href="/paper-template.doc" class="btn btn-info">Download paper template and guidelines</a></p>

<h3>Upload new version</h3>
<p>Select your full paper file and click <strong>Submit</strong> to upload.</p>

<form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="/upload?_csrf={{safeCsrf}}">
  <div class="form-group">
    <label class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{user.name}} ({{user.email}})</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Paper ID</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{user.paperId}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <p class="form-control-static"><i>{{user.paperTitle}}</i></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Submission deadline</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{deadlineDate}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Current date and time</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="servertime">{{currentDateTime}}</p>
      <script>
        // Server clock - modified from <http://www.javascriptkit.com/script/script2/servertime.shtml>
        var months =
          ['January', 'February', 'March', 'April',
           'May', 'June', 'July', 'August', 'September',
           'October', 'November', 'December'];
        var serverDate = new Date('{{isoDate}}');

        function pad(str) {
          return (str.toString().length === 1) ? '0' + str : str;
        }

        function displaytime(){
          serverDate.setSeconds(serverDate.getSeconds() + 1);
          var dateString =
            serverDate.getDate() + ' ' +
            months[serverDate.getMonth()] + ' ' +
            serverDate.getFullYear();

          var timeString = 
            pad(serverDate.getHours()) + ':' +
            pad(serverDate.getMinutes()) + ':' +
            pad(serverDate.getSeconds());

          document.getElementById('servertime').innerHTML =
            dateString + ', ' + timeString + ' UTC+01:00'
        }

        setInterval(displaytime, 1000);
      </script>
    </div>
  </div>
  <div class="form-group" style="margin-bottom: 0">
    <label for="inputFile" class="col-sm-2 control-label">Full paper</label>
    <div class="col-sm-10">
      <input type="file" id="inputFile" name="file" required accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword">
      <div class="help-block">Uploads must be less than 20 MB in size and in DOC or DOCX format.</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <div class="checkbox">
        <input type="checkbox" name="agree"> I confirm that the paper I submit has not been published and will not be published in other publications.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>

</div>

{{/if}}

{{/if}}